<h2>New Post</h2>

<%= form_for @post do |f| %>

<div>
	<%= f.label :title %>
	<%= f.text_field :title %>
</div>

<div>
	<%= f.label :author %>
	<%= f.text_field :author %>
</div>

<div>
	<%= f.text_area :content, size: '50x10'%>
</div>

<%= f.submit 'Post' %>

<% end %>