<h1>Welcome to the Blog</h1>

<h2>Posts</h2>
<hr>
<% @posts.each do |post|%>
	<p><strong><%= link_to post.title, post_path(post) %></strong></p>
	<p><span>Author: </span><%= post.author %></p>
	<span><%= link_to 'Edit', edit_post_path(post) %></span>
	<span><%= link_to 'Delete', post_path(post), method: :delete %> </span> 
	<span><%= link_to 'Comments', comments_path %></span>
	<hr>
<% end %>

<%= link_to 'New Post', new_post_path %>