<h1><%= @post.title %></h1>

<h2><%= @post.author %></h2>

<p><%= @post.content %></p>

<% @comments.each do |comment| %>
	<p> + <%= comment.comment %></p> 
	<%= link_to 'Delete', comment_path(comment), method: :delete %>
<% end %>


<%= render 'comments/form' %>

<br>
<%= link_to "<<Back", posts_path %>