<header>
  <h1> Blgo. </h1>
</header>

<div class="subcomment">
  <%= form_for @subcomment do |f| %>
    <%= f.label :subcomment %><br>
    <%= f.text_field :subcomment %><br>
    <%= f.submit %>
  <% end %>
</div>

<nav><%= link_to "back to comment", @subcomment.comment %></nav>
