<!-- form for creating a post -->
<div class="form">
	<h2>New Post</h2>
	<hr>
	<%= form_for @post do |f| %>
	
	<div class="entry">
		<%= f.label :title, 'Title:' %>
		<%= f.text_field :title, size: '50' %>
	</div>
	
	<div class="entry">
		<%= f.label :author, 'Author:' %>
		<%= f.text_field :author, size: '47' %>
	</div>
	
	<div class="entry">
		<%= f.text_area :content, size: '50x10'%>
	</div>
	
	<%= f.submit 'Post', class: 'button' %>
	
	<% end %>	

</div>