<!-- form for creating a post -->
<div class="form">
	<h2>New Post</h2>
	<hr>
	<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="entry">
		<%= f.label :title, 'Title:' %>
		<%= f.text_field :title, size: '50' %>
	</div>
	
	<div class="entry">
		<%= f.label :author, 'Author:' %>
		<%= f.text_field :author, size: '47' %>
	</div>
	
	<div class="entry">
		<%= f.text_area :content, size: '50x10'%>
	</div>
	
	<%= f.submit 'Post', class: 'button' %>
	
	<% end %>	

</div>