<!-- form for creating a post -->
<div class="form">
	<h2>New Post</h2>
	<hr>
	<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table colspan='2'>
  	<thead></thead>
  	<tbody>
  		<tr>
  			<td>Title: </td>
  		</tr>
  		<tr>
  			<td class="entry">
					<%= f.text_field :title, size: '50' %>
				</td>
  		</tr>
  		<tr>
  			<td>Author: </td>
  		</tr>
  		<tr>
				<td class="entry">
					<%= f.text_field :author, size: '50' %>
				</td>
  		</tr>
  		<tr>
  			<td class="entry">
					<%= f.text_area :content, size: '60x10'%>
  			</td>
  		</tr>
  		<tr><td colspan='2' class="entry"><%= f.submit 'Post', class: 'button' %></td></tr>
  	</tbody>
  </table>
		
	
	<% end %>	

</div>