<header>
  <h1> Blgo. </h1>
</header>

<div class="post">
  <%= form_for @post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %> <br>
    <%= f.label :post %>
    <%= f.text_area :post %> <br>
  <%= f.submit %>
<%end%>
</div>
<p><%= link_to "Back to Front Page", posts_path %></p>
